<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link href="https://adder-clean-clam.ngrok-free.app/css/input.css" rel="stylesheet"/>
    <title>2 Rooms And A Moon</title>
</head>
<body class="night">
    <section style="display: flex; flex-direction: column; align-items: center" class="home">
        <img style="width: 380px;" src="https://adder-clean-clam.ngrok-free.app/resources/2RoomsAndAMoonLogo.png">
        <!-- <section>
            <button class="power" style ="margin: 10px; padding: 5px; width: 150px;" onclick="window.location.href='/create'">Create Game</button>
            <button class="power" style ="padding: 5px; width: 150px;" onclick="window.location.href='/join'">Join Game</button>
        </section> -->
        <button class="power" style ="margin-top: 60px; padding: 5px; width: 300px; font-size: 40px;" onclick="window.location.href='/create'">Create Game</button>
        <button class="power" style ="margin-top: 50px; padding: 5px; width: 300px; font-size: 40px;" onclick="window.location.href='/join'">Join Game</button>
    </section>
</body>
</html>