<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <link href="localhost/css/input.css" rel="stylesheet"/>
    <title>2 Rooms And A Moon</title>
</head>
<body class="night">
    <section class="column" class="home">
        <img style="width: 380px; margin-bottom: 10px" src="localhost/resources/2RoomsAndAMoonLogo.png">
        <button class="submit" onclick="window.location.href='/create'">Create Game</button>
        <button class="submit" style ="margin-top: 50px; padding: 5px; width: 300px; font-size: 40px;" onclick="window.location.href='/join'">Join Game</button>
    </section>
</body>
</html>