<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://adder-clean-clam.ngrok-free.app/css/input.css" rel="stylesheet"/>
    <title>Join Game</title>
</head>
<body class="night">
    <p style="position:aboslute; top: 10px; left: 10px;" ><a href="/">back</a></div>
    <header>
        <div style="float:left"><h1>Join Game</h1></div>
        <br/>
    </header>
    <div class="column">
        <div id="roomCodeDiv" class="column" style="margin-top: 40px; margin-bottom: 20px;">
            <h2><label for="roomCode">Room Code</label></h2>
            <input type="text" id="roomCode" value=<%=locals.roomCode%>>
        </div>
        <div id="nameDiv" class="column">
            <h2><label for="name">Nickname</label></h2>
            <input type="text" id="name" value=<%=locals.nickname%>>
        </div>
        <button id="submit" class="submit" style="width: 200px; font-size: 30px;">Join</button>
    </div>
    <script src="https://adder-clean-clam.ngrok-free.app/scripts/join-game.js"></script>
</body>
</html>