<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://werewolfx.com/css/input.css" rel="stylesheet"/>
    <title>Moderator</title>
</head>
<body id="bg" class="day" style="display: flex; flex-direction: column; justify-content: center;">
    <header id="header">
        <img id="night" src="http://werewolfx.com/resources/moonicon.png" style="display: none;"></img>
        <img id="day" src="https://static.vecteezy.com/system/resources/previews/009/663/135/non_2x/sun-sun-ray-icon-transparent-free-png.png" style="display: block;"></img>
        <h1 id="dayCnt"><%=locals.dayCnt%></h1>
        <h1> - </h1>
        <h1 id="phase"><%=locals.phase%></h1>
        <button id="nextPhaseBtn" class="power" style="margin-bottom: 20px">Next Phase</button>
    </header>
    <div id="poll" style="display: flex; justify-content: center; align-items: center; height: 75px;">
        <button class="img" id="vPollBtn"><img style="width: 50px; padding-right:5px;" src="https://mcheads.ru/heads/medium/front/vlfl.png"></button>
        <div class="pollBG"><div id="pollBar" class="pollBar" style="width: 50%;">|</div></div>
        <button class="img" id="wPollBtn"><img class="wwIcon" src="https://cdn3.emoji.gg/emojis/86623-wolvesville-werewolf.png"></button>
    </div>
    <div id="info">
        <h3 id="wwCnt"></h3>
    </div>
    <div id="villages" style="display: flex; flex-wrap: wrap; justify-content: center;"></div>
    <footer id="footer" style="display:flex; justify-content: center;">
        <button id="shuffleBtn" class="power">Shuffle</button>
        <button id="endBtn" class="power">End Game</button>
    </footer>
    <script id="villageScript" src="http://werewolfx.com/scripts/moderator.js" 
    roomCode="<%=locals.roomCode%>"></script>
</body>
</html>